nav {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-color: rgb(132, 32, 32);
    text-align: center;
}
nav a:link {
    display: block;
    color: antiquewhite;
    padding: .5rem 2rem;
    text-decoration: none;
}
nav a:visited {
    color: white;
}
nav a:hover,
nav:active, 
nav:focus,
.aktiv {
    color: rgb(236, 219, 33);
    background-color: rgb(97, 6, 6);
}
@media screen and (min-width:768px) {
    nav {
        flex-direction: row;
        justify-content: space-around;
    }
}
